#experience {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.section-heading span {
  font-size: 40px;
  color: #2857a4;
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
}

/* Work Experience */

.timeline {
  position: relative;
  width: 75%;
}

.timeline-box {
  padding: 5px;
  width: 40%;
  min-height: 150px;
  position: relative;
  left: 5%;
  text-align: right;
}

.timeline-box::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: lightcoral;
  top: 25%;
  border-radius: 50%;
  z-index: 1;
}

.timeline-box:nth-child(2n) {
  left: 53%;
}

.timeline-box:nth-child(2n + 1)::after {
  right: -11.8%;
}

.timeline-box:nth-child(2n)::after {
  left: -9%;
}

.timeline-container {
  padding: 8px;
}

.timeline-logo {
  position: absolute;
  width: 50px;
  overflow: hidden;
}

.timeline-logo > img {
  width: 100%;
}

#timeline-divider {
  position: absolute;
  width: 0;
  top: 10%;
  left: 50%;
  border: 2px dashed #0096fa6b;
  height: 68%;
  color: #433e3f;
}

#timeline-divider .timeline-traveller {
  position: sticky;
  top: 135px;
  z-index: 2;
}

#timeline-divider i {
  transform: rotate(90deg);
  margin-top: -35px;
  display: block;
  color: #2857a4;
}

.experience-designation {
  font-size: 1.4rem;
}

.experience-company-name {
  margin: 8px 0 0;
  color: #eb822d;
  font-weight: bolder;
  font-size: 1.3rem;
}

.experience-duration {
  color: #9e9b9b;
  font-weight: 400;
  font-size: 1rem;
}

.experience-description {
  font-size: 16px;
  padding: 5px 2px 2px 2px;
  color: grey;
  line-height: 20px;
}

/* skills styling */
.icon-container {
  background-color: #333;
  /* width: 7rem; */
  /* padding-left: 1rem; */
  /* margin: auto 1rem; */
  margin-bottom: 2rem;
  padding-top: 1rem;
  border-radius: 0.2rem;
  width: 8rem;
}

.icon {
  /* color: #e2e8f0; */
  color: #fff;
}

#technologies > h2 {
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: normal;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 0px 40px #00a9e2;
}
hr {
  background: #00a9e2;
  margin: 2px 2px 25px 2px;
  height: 3px;
  width: 150px;
  border-radius: 5px;
  border: hidden;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
